Source: firehol
Section: net
Priority: optional
Maintainer: Jerome Benoit <calculus@rezozer.net>
Build-Depends-Indep:
 debhelper (>= 9), autotools-dev, dh-autoreconf,
 libxml2-utils,
 texlive-base, texlive-latex-recommended, texlive-fonts-recommended, lmodern,
 pandoc,
 kmod, iptables, iproute2, procps, ipset, iprange (>=1.0.4), iputils-ping,
 traceroute, curl, gawk, unzip, jq, graphviz, git, nfacct, screen, tcpdump,
 wget, whois
Standards-Version: 3.9.8
Homepage: http://firehol.org
Vcs-Git: git://git@github.com:codingfuture/deb-firehol.git
Vcs-Browser: https://github.com/codingfuture/deb-firehol

Package: firehol
Architecture: all
Depends: ${misc:Depends}, lsb-base, kmod, iptables, iproute2, tcpdump, procps,
 ipset, iprange (>=1.0.4), unzip, jq, git, nfacct, screen, tcpdump,
 wget, whois
Suggests: firehol-doc (= ${binary:Version}), ulogd2, graphviz
Replaces: fireqos, firehol-tools, firehol-common
Conflicts: fireqos, firehol-tools, firehol-common
Provides: fireqos
Description: A language (and a program to run it) which builds secure,
 stateful firewalls from easy to understand, human-readable configurations. The
 configurations stay readable even for very complex setups.
 .
 FireQOS is a program which sets up traffic shaping from an easy-to-understand
 and flexible configuration file.
 .
 Both programs abstract away the differences between IPv4 and IPv6. so you can
 concentrate on the rules you want. You can apply rules for IPv4 or IPv6, or
 both, as you need.
 .
 This package includes the following tools:
 * firehol
 * fireqos
 * link-balancer
 * update-ipsets
 * vnetbuild

Package: firehol-doc
Section: doc
Architecture: all
Replaces: firehol (<< 2.0.0), fireqos-doc (<< 3.0.0)
Breaks: firehol(<< 2.0.0), fireqos-doc (<< 3.0.0)
Depends: ${misc:Depends}
Suggests: firehol (= ${binary:Version}), pdf-viewer, www-browser
Description:  FireHOL is a language (and a program to run it) which builds secure,
 stateful firewalls from easy to understand, human-readable configurations. The
 configurations stay readable even for very complex setups.
 .
 FireQOS is a program which sets up traffic shaping from an easy-to-understand
 and flexible configuration file.
 .
 Both programs abstract away the differences between IPv4 and IPv6. so you can
 concentrate on the rules you want. You can apply rules for IPv4 or IPv6, or
 both, as you need.
 .
 This package contains documentation and examples.
